* {
  text-decoration: none;
  list-style-type: none;
  outline: none;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Montserrat', sans-serif;
  background-color: $white;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: $green-light;
  text-align: center;
}

main {
  @include mobile {
  }
}

%global-padding {
  padding: 3rem calc((100vw - 1200px) / 2);
}

footer {
  background: #eee;
  padding: 45px;
  margin-top: 30px;
}

form {
  max-width: 600px;
  margin: 0 auto;
  text-align: center;
}

button {
  width: 90%;
  margin-top: 20px;
  margin-bottom: 20px;
  color: white;
  border: 0;
  background: $green-light;
  padding: 16px;
  border-radius: 50px;
  :hover {
    opacity: 0.7;
  }
}

input {
  border: 0;
  border-bottom: 2px solid #9e9e9e;
  outline: none;
  transition: 0.2s ease-in-out;
  box-sizing: border-box;
  :focus {
    color: #333333;
  }
}
label {
  top: 0;
  left: 0;
  right: 0;
  color: #616161;
  display: flex;
  align-items: center;
  position: absolute;
  font-size: 1rem;
  cursor: text;
  transition: 0.2s ease-in-out;
  box-sizing: border-box;
}

input,
label {
  width: 100%;
  height: 3rem;
  font-size: 1rem;
}

input:valid,
input:focus {
  border-bottom: 2px solid $green-light;
}

input:valid + label,
input:focus + label {
  color: $green-light;
  font-size: 0.8rem;
  top: -30px;
  pointer-events: none;
}

table {
  width: 100%;
  border-spacing: 0 0.5rem;
  thead {
    display: table;
    width: 100%;
  }
  th {
    color: #616161;
    font-weight: 400;
    padding: 1rem 2rem;
    text-align: left;
    line-height: 1.5rem;
  }

  td {
    padding: 1rem 2rem;
    border: 0;
    background: white;

    border-radius: 0.25rem;
  }
  tbody {
    display: block;
    height: 228px;
    overflow: auto;
    tr {
      display: table;
      width: 100%;
    }
  }
}
